
%div.survey-details
	%h2
		Details for Survey #{@survey.sg_id}
	%table.table.table-bordered
		%tr
			%td	Title
			%td= @survey.title
		%tr
			%td	Status
			%td=	@survey.status
		%tr
			%td Created
			%td=	@survey.survey_created

	= button_to 'Download', download_survey_path(@survey, format: 'csv'), method: :get, class: 'btn'