%h3
	Details for Survey #{@survey.sg_id}
%table.table
	%tr
		%td	Title
		%td= @survey.title
	%tr
		%td	Status
		%td=	@survey.status
	%tr
		%td Created
		%td=	@survey.survey_created

%div
	%p= @survey.questions_json

%div
	%p= @survey.responses_json


/ 	- @responses.each do |survey|
/ 		%tr#survey-item
/ 			%td= survey.title
/ 			%td= survey.sg_id
/ 			%td= survey.status
/ 			%td= survey.survey_created