%h3
	Details for Survey #{@survey.sg_id}
%table.table
	%tr
		%td	Title
		%td= @survey.title
	%tr
		%td	Status
		%td=	@survey.status
	%tr
		%td Created
		%td=	@survey.survey_created

= button_to 'Download', download_survey_path(@survey, format: 'csv'), method: :get


/ 	- @responses.each do |survey|
/ 		%tr#survey-item
/ 			%td= survey.title
/ 			%td= survey.sg_id
/ 			%td= survey.status
/ 			%td= survey.survey_created