
%div.survey-details
	%h2
		Details for Survey #{@survey.sg_id}
	%table.table.table-bordered
		%tr
			%td	Title
			%td= @survey.title
		%tr
			%td	Status
			%td=	@survey.status
		%tr
			%td Created
			%td=	@survey.survey_created
		%tr
			%td Number of Responses
			%td=	@survey.response_count

	= button_to 'Create CSV', parse_survey_path(@survey), method: :get, class: 'btn', id: 'start-download', remote: true
%div.download-details
	%div.download-details-text
		%strong File creation complete.
	= button_to 'Save CSV', download_survey_path(@survey, format: 'csv'), method: :get, class: 'btn btn-success', id: 'start-download'

