// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.survey-details {
  padding: 0px 10px;
}

div.download-details-buttons {
  padding: 0px 10px;
  float: none;
  height: 30px;
  form {
    float: left;
    padding-right: 10px;
  }
}

div.download-details-block {
  display: none;
  padding: 0px 10px;
}

div.download-details-text  {
  float: none;
  text-align: center;
  padding: 8px;
  border: 1px solid #222;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}


.modal {
		.modal-text {
			text-align: center;
      padding: 0px 3px;
		}
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        70%;
    left:       61%;
    height:     70px;
    width:      250px;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 70% 
                no-repeat;

}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}